mixin chat-list(id, name, text, date, badge)
    li.chat-list__element(id= id)
        div.chat_link
            .chat_image
                img(src='../../data/circle.png' alt='')
            .chat_text_wrap #{test}
                .chat_text_name
                    span= name
                .chat_text_message
                    span= text
            .chat_meta_wrap
                time.chat_meta_date= date
                if (badge)
                    span.chat_meta_badge= badge